.container {
  margin:0 auto;
  max-width: 1140px;
  padding: 0 15px;
}
.heading {
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-md {
  font-size: 1rem;
  line-height: 1.5;
}

.imageDiv {
  max-width: 100%;
  max-height: 70vh;
  overflow: hidden;
  border: 2px solid #ccc;
  background-size: contain;
  border: 4px solid gray;
  border-radius: 10px;
}

.imageDiv img {
  width: 100%;
  height: auto;
  display: block;
  border: none;
}